/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    	--navbar-color: #a126a1;
    	--background-color:;
    	--text-color: #f2f2ff;
    	--cards-color:;
    	--hover-color: #f6d426;
}
body {
    	margin: 0;
    	padding: 0;
}

/* nav bar */
.navbar {
    	background-color: var(--navbar-color); /* Couleur de fond de la navbar */
    	padding: 10px; /* Espace intérieur de la navbar */
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
}
  

.navbar-links {
    	list-style-type: none;
    	padding: 0;
    	margin: 0;

}
.navbar-links li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.navbar-links li a {
    text-decoration: none;
	color: var(--text-color);
    padding: 10px 15px;
    display: block;
}

/* end of the nav bar */

/* product-cards-home-page*/

#product-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px;
}

.product-card-inner {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 200px; 
    
}

#product-image {
    max-width: 100%; 
}

#title-product,
#description-product,
#price-product {
    text-align: center;
    font-weight: bold;
    
}
/* end of the product-cards-home-page*/
.product-show {
    display: flex;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    max-width: 100%;
    justify-content: space-between;
  }
  
  
  .product-show-image {
    margin-right: 20px; 
  }
  
  /* Style pour le titre */
  .product-details h1 {
    font-size: 24px;
    margin: 0;
    text-align: center;

  }
  
  /* Style pour la description */
  .product-details p {
    font-size: 16px;
  }
  
  /* Style pour le prix */
  .product-details p:last-child {
    font-size: 18px;
    font-weight: bold;
    color: #ff0000; /* Couleur du texte en rouge, vous pouvez changer cette couleur */
  }

  .product-show-image img {
    width: 200px; /* Largeur souhaitée en pixels */
    height: 150px; /* Hauteur souhaitée en pixels */
  }