<div class="product-show">
  <div class="product-show-image">
    <% if @product.image.attached? %>
      <%= image_tag @product.image %>
    <% end %>
  </div>
  <div class="product-details">
    <h1><%= @product.title %></h1>
      <p class="description"><%= @product.description %></p>
      <p class= "price"><%=(@product.price) %>€</p>
      <button id = "add-to-card"> add to card</button >
  </div>
</div>

